APP_PORT=3000
APP_CONTROLLERS_PATH=/controllers/*.controller.ts


DB_HOST=localhost
DB_PORT=5432
DB_NAME=recipes
DB_USER=postgres
DB_PASSWORD=ВПИШИ_СВОЙ_ПАРОЛЬ

DB_ENTITIES=src/models/*.entity.ts
DB_SUBSCRIBERS=src/models/*.subscriber.ts

JWT_SECRET_KEY=change-me
JWT_ACCESS_TOKEN_LIFETIME=3600
